.titulo {
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
}

.texto {
  font-size: 24px;
}

h4 {
  font-size: 30px;
  color: grey;
  padding: 21px 20px 20px;
  background-color: aliceblue;
  border-radius: 20px;
}
h5 {
  font-size: 24px;
  color: grey;
}
.services-container {
  display: flex;
  border-radius: 10px;
  border-width: 2px;
  border-color: brown;
  margin: 10px;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  color: gray;
  font-size: 20px;
  background-color: aliceblue;
}
.page-services-container {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border-width: 2px;
  margin: 10px;
  padding: 0px 100px 100px 100px;
}

#close:active {
  background: defaultcolor;
}

#close:focus {
  background: rgb(255, 255, 255);
}

#close {
  position: absolute;
  right: 160px;
}
#close:hover {
  cursor: pointer;
}
#checkout {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #26a69a;
  margin-top: 20px;
  padding: 20px 810px 20px;
  border-radius: 10px;
  color: white;
}
#checkout:focus {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}
#checkout:hover {
  cursor: pointer;
}
.conteiner {
  margin-top: 40px;
  background-color: aliceblue;
  border-radius: 20px;
  padding: 20px;
}

.divisao {
  margin-top: 20px;
  padding-right: 200px;
  padding-bottom: 10px;
  background-color: rgb(255, 255, 255);
}
.divisao2 {
  padding-right: 200px;
  margin-top: 30px;
  padding-bottom: 10px;
  background-color: rgb(255, 255, 255);
}
